@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: #f2f2f2;
    --color-secondary: #2dc8ee;
    --color-tertiary: #9e8cfc;
    --color-muted: #8f9ba8;
    --color-background-primary: #08070b;
    --color-background-secondary: #072d40;
    --color-background-tertiary: #2c2150;
    --color-background-muted: #212024;
  }
  html,
  body {
    padding: 0;
    margin: 0;
    font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
      Helvetica Neue, sans-serif;
    background-color: var(--color-background-primary);
    color: var(--color-primary);
  }
  html {
    color-scheme: dark;
    /* scroll-snap-type: y mandatory; */
    scroll-behavior: smooth;
  }
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }
}

@layer components {
  .btn-header {
    @apply appearance-none bg-transparent border-0 rounded-base text-primary cursor-pointer px-2.5 transition duration-sm ease-base;
  }
  .heading-h1 {
    @apply text-5xl m-0 mb-5 text-primary font-extrabold;
    line-height: 50px;
  }
  .external-link {
    @apply border-b-[0.5px] border-muted text-primary no-underline transition-opacity duration-sm ease-base hover:opacity-80;
  }
}
